<label>City :</label>
<input [(ngModel)]="City" type="text" class="ms-1">
<button class="btn btn-warning m-1" type="button" (click)="onCityFilter()">Search</button>
<button class="btn btn-warning m-1" type="button" (click)="onCityFilterClear()">Clear</button>

<label class="ms-2">Sort by &nbsp;</label>

<select [(ngModel)]="SortByParam">
  <option value="City">City</option>
  <option value="Price">Price</option>
</select>

<button class="btn btn-primary ms-1" type="button" (click)="onSortDirection()">
  <i *ngIf="sortDirection==='asc'" class="bi bi-sort-alpha-down"></i>
  <i *ngIf="sortDirection==='desc'" class="bi bi-sort-alpha-up"></i>
</button>

<div class="row mb-3">
  <div *ngFor="let property of properties | filter:City:'City'|sort:[SortByParam,sortDirection]" class="col-md-3 mb-3">
    <app-property-card [property]="property"></app-property-card>
  </div>
</div>

<!-- <div class="row">
  <div class="shadow-lgcol-sm-4 p-3">
  <div class="card">
  <img src="../../../assets/home.jpg" alt="" height="100" width="100">
  <div class="card-body p-2">
  <h1>{{property.Type}}</h1>
  </div>
  </div>
  </div>
  </div> -->