<div class="row">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header text-white">
        Add new Property
      </div>
      <div class="card-body">
        <!-- <form #Form="ngForm" (ngSubmit)="onSubmit()"> for template driven form-->
        <!-- for reactive form -->
        <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic info" formGroupName="BasicInfo">
                <div class="form-group col-12">
                  <p>I want to</p>
                  <!-- for template driven form -->
                  <!-- <div class="btn-group" btnRadioGroup name="SellRent" ngModel> -->
                  <!-- for reactive form -->
                  <div class="btn-group" btnRadioGroup formControlName="SellRent">
                    <label tabindex="0" class="btn btn-outline-primary me-2" btnRadio="1" role="button"
                      name="SellRent">Sell</label>
                    <label tabindex="0" class="btn btn-outline-primary" btnRadio="2" role="button"
                      name="SellRent">Rent</label>
                  </div>
                  <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                    Please select a sell or rent
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>BHK</p>
                  <div class="btn-group" btnRadioGroup [(ngModel)]="propertyView.BHK" name="BHK" formControlName="BHK">
                    <label *ngFor="let bhk of ['1','2','3','4']" class="btn btn-outline-primary me-2" [btnRadio]="bhk"
                      tabindex="0" role="button" name="BHK">{{bhk}}</label>
                  </div>
                  <div class="error-block" *ngIf="BHK.invalid && nextClicked">
                    please select a bhk
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Property Type</p>
                  <div class="btn-group" btnRadioGroup formControlName="PType" [(ngModel)]="propertyView.PType">
                    <label *ngFor="let ptype of propertyTypes" name="Type" class="btn btn-outline-primary me-2"
                      [btnRadio]="ptype" name="Type" role="button">{{ptype}}</label>
                  </div>
                  <div class="error-block" *ngIf="PType.invalid && nextClicked">
                    please select a property type
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Furnishing Type</p>
                  <div class="btn-group" btnRadioGroup formControlName="FType" [(ngModel)]="propertyView.FType"
                    name="FType">
                    <label *ngFor="let ftype of furnishTypes" class="btn btn-outline-primary me-2" [btnRadio]="ftype"
                      role="button" name="SellRent">{{ftype}}</label>
                  </div>
                  <div class="error-block" *ngIf="FType.invalid && nextClicked">
                    please select a furnish type
                  </div>
                </div>

                <div class="form-group col-12">
                  <label for="name">in Building/Society/Project</label>
                  <!-- <input type="text" class="form-control" name="Name" ngModel #nameData='ngModel' minlength="5" required -->
                  <input type="text" class="form-control" formControlName="Name" ngModel minlength="5"
                    [(ngModel)]="propertyView.Name">
                  <div class="error-block" *ngIf="Name.invalid && (nextClicked || Name.touched)">
                    please select a building name
                  </div>
                </div>

                <!-- <div class="form-group col-12">
                <label for="type">Type</label>
                <input type="text" class="form-control" name="Type" ngModel>
              </div> -->

                <div class="form-group col-12">
                  <label>City</label>
                  <input type="text" class="form-control" formControlName="City" [(ngModel)]="propertyView.City">
                  <div class="error-block" *ngIf="City.invalid && (nextClicked || City.touched)">
                    Please select city
                  </div>
                </div>
                <div class="form-group col-12 d-grid gap-2 mt-2">
                  <button type="button" class="btn btn-primary me-2"
                    (click)="selectTab(1,BasicInfo.valid)">Next</button>
                </div>

              </tab>

              <tab heading="Pricing and Area" formGroupName="PriceInfo">Pricing and Area
                <div class="form-group col-12">
                  <label *ngIf="SellRent.value==1">Price (in USD)</label>
                  <label *ngIf="SellRent.value==2">Rent (in USD)</label>
                  <input type="text" class="form-control" formControlName="Price" [(ngModel)]="propertyView.Price">
                  <div class="error-block" *ngIf="Price.invalid && (nextClicked || Price.touched)">
                    please select price
                    <span *ngIf="SellRent.value==1;else ShowRent">Price</span>
                    <ng-template #ShowRent>rent</ng-template>
                  </div>
                </div>

                <div *ngIf="SellRent.value==2">
                  <div class="form-group col-12">
                    <label>Security (in USD)</label>
                    <input type="text" formControlName="Security" class="form-control">
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Maintenance (in USD)</label>
                  <input type="text" class="form-control" formControlName="Maintenance">
                </div>

                <div class="form-group col-12">
                  <label>Built Area (in Sqr Feet)</label>
                  <input type="text" class="form-control" [(ngModel)]="propertyView.BuiltArea"
                    formControlName="BuiltArea">
                  <div class="error-block" *ngIf="BuiltArea.invalid && nextClicked">
                    Please select built up area
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Carpet Area(in Sqr Feet)</label>
                  <input type="text" class="form-control" formControlName="CarpetArea">
                  <div class="error-block" *ngIf="CarpetArea.invalid && nextClicked">
                    Please select built up area
                  </div>
                </div>

                <div class="d-grid gap-2">
                  <button type="button" (click)="selectTab(2,PriceInfo.valid)"
                    class="btn btn-primary d-grid gap-2 mt-2">Next</button>
                  <button type="button" (click)="selectTab(0,PriceInfo.valid)"
                    class="btn btn-primary d-grid gap-2 mt-2">Back</button>
                </div>
              </tab>

              <tab heading="Address" formGroupName="AddressInfo">
                <div class="form-group col-12">
                  <label>Floor</label>
                  <input type="text" class="form-control" formControlName="FloorNo">
                </div>

                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input type="text" class="form-control" formControlName="TotalFloor">
                </div>

                <div class="form-group col-12">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="Address">
                  <div class="error-block" *ngIf="Address.invalid && (nextClicked || Address.touched)">
                    please select address
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Landmark</label>
                  <input type="text" class="form-control" formControlName="LandMark">
                </div>

                <div class="d-grid gap-2">
                  <button type="button" (click)="selectTab(3,AddressInfo.valid)"
                    class="btn btn-primary d-grid gap-2 mt-2">Next</button>
                  <button type="button" (click)="selectTab(1,AddressInfo.valid)"
                    class="btn btn-primary d-grid gap-2 mt-2">Back</button>
                </div>
              </tab>

              <tab heading="Other Details" formGroupName="OtherInfo">
                <div class="form-group col-12">
                  <label>Ready to Move</label><br />
                  <div class="btn-group" btnRadioGroup formControlName="RTM">
                    <label class="btn btn-outline-primary me-2" btnRadio="1" tabindex="0" role="button"
                      name="RTM">Yes</label>
                    <label class="btn btn-outline-primary" btnRadio="2" role="button" tabindex="0" name="RTM">No</label>
                  </div>
                  <div class="error-block" *ngIf="RTM.invalid && nextClicked">
                    Please select ready to move
                  </div>
                </div>

                <div *ngIf="RTM.value==2" class="form-group col-6">
                  <label>Possession/Avaialble From</label>
                  <!-- <input type="date" class="form-control"> -->
                  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
                    <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker
                      formControlName="PosessionOn"
                      [bsConfig]="{containerClass:'theme-dark-blue',dateInputFormat:'DD-MM-YYYY'}">
                  </div>
                </div>

                <div *ngIf="RTM.value==1" class="form-group col-3">
                  <label>Age of Property</label>
                  <input type="text" class="form-control" formControlName="AOP">
                </div>

                <div class="form-group col-12">
                  <label>Gated Community</label><br />
                  <div class="btn-group" btnRadioGroup formControlName="Gated">
                    <label class="btn btn-outline-primary me-2" btnRadio="1" tabindex="0" role="button"
                      name="Gated">Yes</label>
                    <label class="btn btn-outline-primary" btnRadio="2" tabindex="0" role="button"
                      name="Gated">No</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Main Entrance</label><br />
                  <div class="btn-group" btnRadioGroup formControlName="MainEntrance">
                    <!-- <label *ngFor="let ptype of entranceTypes" class="btn btn-outline-primary me-2" [btnRadio]="ptype"
                      role="button" name="entrance">{{ptype}}</label> -->
                    <label class="btn btn-outline-primary mr-2" btnRadio=1 tabindex="0" role="button"
                      name="Entrance">East</label>
                    <label class="btn btn-outline-primary" btnRadio=2 tabindex="0" role="button"
                      name="Entrance">West</label>
                    <label class="btn btn-outline-primary" btnRadio=3 tabindex="0" role="button"
                      name="Entrance">South</label>
                    <label class="btn btn-outline-primary" btnRadio=4 tabindex="0" role="button"
                      name="Entrance">North</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea type="text" class="form-control" rows="6" formControlName="Description"></textarea>
                </div>
                <div class="d-grid gap-2">
                  <button type="button" (click)="selectTab(4,OtherInfo.valid)"
                    class="btn btn-primary d-grid gap-2 mt-2">Next</button>
                  <button type="button" (click)="selectTab(2,OtherInfo.valid)"
                    class="btn btn-primary d-grid gap-2 mt-2">Back</button>
                </div>
              </tab>

              <tab heading="Photos">Photos
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br>
                    This is under construction
                  </div>
                </div>
                <div class="d-grid gap-2">
                  <button type="button" (click)="selectTab(3,true)"
                    class="btn btn-primary d-grid gap-2 mt-2">Back</button>
                  <button type="submit" class="btn btn-primary d-grid gap-2 mt-2">Save</button>
                  <button type="submit" class="btn btn-primary d-grid gap-2 mt-2">Cancel</button>
                </div>
              </tab>

            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header">
      <h3>Your Property Preview</h3>
    </div>
    <div class="shadow-lg p-3 bg-white">
      <app-property-card [hideIcons]="true" [property]="propertyView"></app-property-card>
    </div>
  </div>
</div>